[submodule "stats"]
	path = stats
	url = https://github.com/juancarlosfarah/imperial-co516-stats.git
[submodule "reverse"]
	path = reverse
	url = https://github.com/juancarlosfarah/imperial-co516-reverse.git
[submodule "debugging"]
	path = debugging
	url = https://github.com/juancarlosfarah/imperial-co516-debugging.git
